<app-nav></app-nav>

<main  class="cs-page-wrapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contacto</li>
          </ol>
        </div>
    </nav>

    <section class="container pt-3 pt-md-4">
        <div class="row">
    
            <!-- Nav tabs -->
            <div class="col-md-4">
            <div class="mb-md-5 mb-4 pb-lg-4" data-simplebar="" data-simplebar-auto-hide="false">
                <ul class="nav flex-md-column flex-nowrap text-nowrap" role="tablist">
                <li class="nav-item">
                    <a href="#contact" id="contact-tab" class="nav-link h3 mr-md-0 mr-sm-5 mr-4 mb-0 px-0 active" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="true">
                    Contacto
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#stores" id="stores-tab" class="nav-link h3 mr-md-0 mr-sm-5 mr-4 mb-0 px-0" data-toggle="tab" role="tab" aria-controls="stores" aria-selected="false">
                    Nuestras tiendas
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#faq" id="faq-tab" class="nav-link h3 mr-md-0 mr-sm-5 mr-4 mb-0 px-0" data-toggle="tab" role="tab" aria-controls="faq" aria-selected="false">
                    FAQ
                    </a>
                </li>
                </ul>
            </div>
            </div>
    
            <!-- Tabs content -->
            <div class="col-md-8 ml-auto pt-md-2">
            <div class="tab-content pb-2 pb-sm-4 pb-lg-5">
    
                <!-- Tab: Contact Us -->
                <div id="contact" class="tab-pane pb-5 fade show active" role="tabpanel" aria-labelledby="contact-tab">
                <p class="text-dark lead font-weight-bold">Si tiene alguna pregunta, inquietud o comentario, ¡nos encantaría saber de usted! Envíe su consulta usando cualquiera de los siguientes métodos:</p>
                <div class="nav-dark mb-5">
                    <a href="tel:3127635772" class="nav-link d-flex align-items-center font-weight-normal p-0 mb-2">
                    <i class="cxi-iphone text-primary lead mr-2"></i>
                    <span>+57 312 763 5772</span>
                    </a>
                    <a href="mailto:asoprocafenpa2014@gmail.com" class="nav-link d-flex align-items-center font-weight-normal p-0 mb-2">
                    <i class="cxi-mail text-primary lead mr-2"></i>
                    <span>asoprocafenpa2014@gmail.com</span>
                    </a>
                    <a href="#" class="nav-link d-flex align-items-center font-weight-normal p-0 mb-2">
                    <i class="cxi-messenger text-primary lead mr-2"></i>
                    <span>Contactanos por Messenger</span>
                    </a>
                    <a href="#" class="nav-link d-flex align-items-center font-weight-normal p-0 mb-2">
                    <i class="cxi-twitter text-primary lead mr-2"></i>
                    <span>Nuestro Twitter</span>
                    </a>
                </div>
                <p class="text-dark lead font-weight-bold pb-2">O póngase en contacto con nosotras completando el siguiente formulario:</p>
                
                <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                    <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="cont-name">Nombres y apellidos *</label>
                        <input type="text" id="cont-name" class="form-control form-control-lg" placeholder="Nombre completos" required="" name="cliente" [(ngModel)]="contacto.cliente">
                        
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="cont-email">Correo *</label>
                        <input type="email" id="cont-email" class="form-control form-control-lg" placeholder="johndoe@example.com" required="" name="email" [(ngModel)]="contacto.email">
                        
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="cont-phone">Telefono</label>
                        <input type="text" id="cont-phone" class="form-control form-control-lg bg-0" placeholder="000-000-0000" required name="telefono" [(ngModel)]="contacto.telefono">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="cont-subject">Asunto</label>
                        <input type="text" id="cont-subject" class="form-control form-control-lg bg-0" placeholder="Titulo de tu mensaje" required name="asunto" [(ngModel)]="contacto.asunto">
                    </div>
                    <div class="col-12 form-group">
                        <label for="cont-message">Mensaje *</label>
                        <textarea id="cont-message" class="form-control form-control-lg" rows="5" placeholder="Escriba tu consulta" required="" name="mensaje" [(ngModel)]="contacto.mensaje"></textarea>
                        
                    </div>
                    <div class="col-lg-4 col-sm-5 pt-2">
                        <button *ngIf="!load_btn" type="submit" class="btn btn-primary btn-lg btn-block">Enviar mensaje</button>
                        <!-- Button with growing spinner and text -->
                        <button *ngIf="load_btn" type="button" class="btn btn-secondary">
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Enviando...
                        </button>
                    </div>
                    </div>
                </form>
                </div>
    
                <!-- Tab: Outlet Stores -->
                <div id="stores" class="tab-pane pb-3 fade" role="tabpanel" aria-labelledby="stores-tab">
                <div class="row">
                    <div class="col-sm-6 mb-grid-gutter">
                    <div class="card card-hover">
                        <img class="card-img-top" src="../../assets/img/ecommerce/contacts/01-contact.png" alt="Card image">
                        <div class="card-body">
                        <h3 class="h4">Nunchia - Casanare</h3>
                        <ul class="mb-0 list-unstyled nav-dark">
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="tel:3127635772">
                                <i class="cxi-iphone mt-1 mr-2 pr-1 lead text-primary"></i>
                                +57 312 763 5772
                            </a>
                            </li>
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="mailto:asoprocafenpa2014@gmail.com">
                                <i class="cxi-mail mt-1 mr-2 pr-1 lead text-primary"></i>
                                asoprocafenpa2014@gmail.com
                            </a>
                            </li>
                            <li class="mb-2 pb-1">
                            <div class="d-flex">
                                <i class="cxi-clock mt-1 mr-2 pr-1 lead text-primary"></i>
                                Lunes a Domingos de 8am a 9pm
                            </div>
                            </li>
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                <i class="cxi-map-pin-outline mt-1 mr-2 pr-1 lead text-primary"></i>
                                Carrera 5 #10-135 Nunchia - 851070
                            </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6 mb-grid-gutter">
                    <div class="card card-hover">
                        <img class="card-img-top" src="../../assets/img/ecommerce/contacts/02-contact.png" alt="Card image">
                        <div class="card-body">
                        <h3 class="h4">Yopal - Casanare</h3>
                        <ul class="mb-0 list-unstyled nav-dark">
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="tel:3134630375">
                                <i class="cxi-iphone mt-1 mr-2 pr-1 lead text-primary"></i>
                                +57 313 463 0375
                            </a>
                            </li>
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="mailto:asoprocafenpa2014@gmail.com">
                                <i class="cxi-mail mt-1 mr-2 pr-1 lead text-primary"></i>
                                asoprocafenpa2014@gmail.com
                            </a>
                            </li>
                            <li class="mb-2 pb-1">
                            <div class="d-flex">
                                <i class="cxi-clock mt-1 mr-2 pr-1 lead text-primary"></i>
                                Lunes a Domingos de 8am a 9pm
                            </div>
                            </li>
                            <li class="mb-2 pb-1">
                            <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                <i class="cxi-map-pin-outline mt-1 mr-2 pr-1 lead text-primary"></i>
                                Calle 21 #14-78 Yopal - 850001
                            </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>                   
                    
                </div>
                </div>
    
                <!-- Tab: FAQ -->
                <div id="faq" class="tab-pane fade mt-n3 mt-dm-0 pb-5" role="tabpanel" aria-labelledby="faq-tab">
                <div class="accordion-alt" id="accordion">
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-1">
                        <h5 class="accordion-heading">
                        <a href="#faq-1" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="faq-1">¿Necesito registrarme para hacer un pedido?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-1" class="collapse show" aria-labelledby="headingFaq-1" data-parent="#accordion">
                        <div class="card-body text-muted">No necesariamente, puedes comunicarte con nosotros en nuestras líneas autorizadas o acercarse en nuestros puntos físicos.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-2">
                        <h5 class="accordion-heading">
                        <a href="#faq-2" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-2">¿Cuál es el tiempo estimado de entrega?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-2" class="collapse" aria-labelledby="headingFaq-2" data-parent="#accordion">
                        <div class="card-body text-muted">De 1 a 5 días después del despacho del producto.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-3">
                        <h5 class="accordion-heading">
                        <a href="#faq-3" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-3">¿Cómo puedo pagar mi pedido?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-3" class="collapse" aria-labelledby="headingFaq-3" data-parent="#accordion">
                        <div class="card-body text-muted">Puedes pagar tus productos con tarjetas de crédito y débito, PayPal, Nequi, PSE, Bancolombia.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-4">
                        <h5 class="accordion-heading">
                        <a href="#faq-4" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-4">¿Puedo obtener un reembolso si el precio ha cambiado desde que lo pedí?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-4" class="collapse" aria-labelledby="headingFaq-4" data-parent="#accordion">
                        <div class="card-body text-muted">No.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-5">
                        <h5 class="accordion-heading">
                        <a href="#faq-5" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-5">¿Reembolsan los gastos de envío si devuelvo algo?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-5" class="collapse" aria-labelledby="headingFaq-5" data-parent="#accordion">
                        <div class="card-body text-muted">Si el producto llego defectuoso.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-6">
                        <h5 class="accordion-heading">
                        <a href="#faq-6" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-6">¿Qué documentos se proporcionarán con el pedido?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-6" class="collapse" aria-labelledby="headingFaq-6" data-parent="#accordion">
                        <div class="card-body text-muted">Documento de identificación, para hacer entrega del producto.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-7">
                        <h5 class="accordion-heading">
                        <a href="#faq-7" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-7">¿Puedo devolver el pedido al mensajero si algo no me conviene?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-7" class="collapse" aria-labelledby="headingFaq-7" data-parent="#accordion">
                        <div class="card-body text-muted">Si.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-8">
                        <h5 class="accordion-heading">
                        <a href="#faq-8" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-8">¿Qué debo hacer si mi pedido aún no ha sido entregado?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-8" class="collapse" aria-labelledby="headingFaq-8" data-parent="#accordion">
                        <div class="card-body text-muted">Comunicarse a nuestras lineas de atencion al cliente.</div>
                    </div>
                    </div>
                    <!-- Card -->
                    <div class="card border-bottom">
                    <div class="card-header" id="headingFaq-9">
                        <h5 class="accordion-heading">
                        <a href="#faq-9" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="faq-9">¿Cuál es su política de devolución?
                            <span class="accordion-indicator"></span>
                        </a>
                        </h5>
                    </div>
                    <div id="faq-9" class="collapse" aria-labelledby="headingFaq-9" data-parent="#accordion">
                        <div class="card-body text-muted">Si deseas realizar la devolución de un producto comprado en Asoprocafenpa.com, dispones de 15 días desde la fecha de envió de tu pedido para hacerlo de forma gratuita. Los artículos deben conservar todas sus etiquetas y estar en perfecto estado.
                            <br>
                            Estas son las opciones para devolver tu mercancía:
                            <li>Tienda <a [routerLink]="['/']" style="text-decoration: none;">Asoprocafenpa </a></li>
                            <li>Desde domicilio</li>
                            <li>Devolución en punto de entrega</li>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>