<!-- Navbar-->
<header class="navbar navbar-expand navbar-light fixed-top navbar-box-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
    <a class="navbar-brand d-lg-none" href="dev-setup.html">
      <img src="assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
    </a>
    <button class="navbar-toggler d-block d-lg-none mr-3 ml-auto" type="button" data-toggle="offcanvas" data-target="componentsNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto d-none d-lg-flex align-items-center">      
    </ul>
    <ng-container>
      <li class="nav-item d-lg-block d-none dropdown">
        <a class="nav-tool dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">
          <i class="cxi-profile nav-tool-icon"></i>
          <span class="nav-tool-label"> Administrador </span>
        </a>
        <div class="dropdown-menu">
          <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
            <i class="cxi-logout me-2"></i>
            Cerrar sesion
          </a>
        </div>
      </li>
    </ng-container>
  
  </header>

  <!-- Side navigation (Off-canvas)-->
  <aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav">
    <div class="cs-offcanvas-cap d-none d-lg-block py-4">
      <a class="navbar-brand py-2" href="dev-setup.html">
        <!-- <img src="assets/img/logo.png" alt="Asoprocafenpa" width="60"> -->
        <h2 style="color: white;" class="mb-0">ASOPROCAFENPA</h2>
      </a>
      <!-- <span class="badge badge-warning">Docs</span> -->
    </div>
    <div class="cs-offcanvas-cap d-flex d-lg-none">
      <div class="d-flex align-items-center mt-1">
        <h5 class="text-light mb-0 mr-3">Menu</h5>
        <span class="badge badge-warning">Docs</span>
      </div>
      <button class="close text-light" type="button" data-dismiss="offcanvas" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
      <a class="btn btn-primary btn-block mr-3 px-4" href="index.html"><i class="cxi-eye mt-n1 mr-2"></i>Preview</a>
      <a class="btn btn-success btn-block mt-0 px-4" href="../components/typography.html"><i class="cxi-layouts mt-n1 mr-2"></i>Components</a>
    </div>
    <div class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
      <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Menu</h6>
      <hr class="hr-gradient hr-light mb-2 opacity-25">
      <nav class="nav nav-light">
        <a class="nav-link px-4" [routerLink]="['/inicio']" routerLinkActive="active"><i class="cxi-home nav-tool-icon"></i> Inicio</a>
        <a class="nav-link px-4" [routerLink]="['/panel/clientes']" routerLinkActive="active"><i class="cxi-profile nav-tool-icon"></i> Clientes</a>
        <a class="nav-link px-4" [routerLink]="['/panel/productos']" routerLinkActive="active"><i class="cxi-grid nav-tool-icon"></i> Productos</a>
        <a class="nav-link px-4" [routerLink]="['/panel/cupones']" routerLinkActive="active"><i class="cxi-bell nav-tool-icon"></i> Cupones</a>
        <a class="nav-link px-4" [routerLink]="['/panel/descuentos']" routerLinkActive="active"><i class="cxi-check nav-tool-icon"></i> Descuentos</a>
        <a class="nav-link px-4" [routerLink]="['/panel/contactos']" routerLinkActive="active"><i class="cxi-chat nav-tool-icon"></i> Mensajes</a>
        <a class="nav-link px-4" [routerLink]="['/panel/ventas']" routerLinkActive="active"><i class="cxi-cart nav-tool-icon"></i> Ventas</a>

        <a class="nav-link px-4" [routerLink]="['/panel/configuraciones']" routerLinkActive="active"><i class="cxi-settings nav-tool-icon"></i> Configuraciones</a>
        
  
      </nav>
    </div>
  </aside>